{
  "presets": [
    [
      "@babel/preset-env",{
        "targets": {
          "browsers": [
            "Chrome >= 69",
            "Firefox > 57",
            "iOS > 11",
            "Safari >= 9",
            "Explorer >= 11",
            "Edge >= 15"
          ]
        }
      }
    ]
  ]
}
